// This works to clean things up but I can't see 
// how to globally force copy or hardlinks for 
// published results so we don't just end up with
// a bunch of broken symlinks

// cleanup.enabled = true
executor {
  name = "sge"
  queueSize = "100"
}

process {
  publishDir = [mode: "copy"]
  clusterOptions = { task.memory ? "-l h_vmem=${task.memory.bytes/task.cpus}" : null }
  scratch = true
  penv = { task.cpus > 1 ? "sharedmem" : null }

  // common SGE error statuses
  errorStrategy = {task.exitStatus in [143,137,104,134,139,140] ? 'retry' : 'finish'}
  maxErrors = '-1'
  maxRetries = 3

  beforeScript =
  """
  . /etc/profile.d/modules.sh
  module load 'roslin/singularity/3.5.3'
  module load 'igmm/apps/bismark/0.22.3'
  export SINGULARITY_TMPDIR="\$TMPDIR"
  """
  
    memory = 5.GB
    cpus = 1

    withLabel: bigMem {
        memory = 20.GB
    }
    
    withLabel: mem40G {
        memory = 40.GB
    }

    withLabel: hugeMem{
    	memory = 80.GB
    }

    withLabel: multiCore {
        cpus = 8
    }

    withLabel: quadCore{
     	cpus = 4
    }
   
}

notification {
    enabled = true
    to = "${USER}@ed.ac.uk"
}

timeline {
    enabled = true
    file = "execution_timeline.html"
}
report {
    enabled = true
    file = "execution_report.html"
}
//trace {
//   enabled = true
//    file = "execution_trace.txt"
//}

// dag {
//   enabled = true
//   file = "pipeline_dag.svg"
// }

tower {
  accessToken = 'c618fd637bd6f302b27117c547c4cdbd52c5c26a'
  enabled = false
}

env {
  MALLOC_ARENA_MAX=1
}

singularity {
  envWhitelist = "SINGULARITY_TMPDIR,TMPDIR"
  runOptions = '-p -B "$TMPDIR"'
  enabled = true
  autoMounts = true
}
